*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Courgette', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #E9E9E9;
}
h1{
  font-size:3.5rem;
}

.fa-infinity{
  font-size: 0.6em !important;
  font-weight: 100;
}