.App {
  text-align: center;
}

.controls{
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: grey;
  /* color: aliceblue; */
  align-items: center;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

.active{
  color: rgb(32, 77, 104);
}

/* .selected{

} */

/* .progress{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

#progresBar{
  background: transparent;
} */
